.Home {
    height: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home > img {
    height: 300px;
    width: 400px;
    border: 1px solid;
    margin: 20px;
}

.Home p {
    font-size: large;
}

.Home > .desserts {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.Home > .desserts > span {
    font-size: larger;
}

