.Home {
    height: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home img {
    height: 300px;
    width: 400px;
    border: 1px solid;
    margin: 20px;
}

.Home p {
    font-size: large;
}

.Home > .Desserts {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding-left: 50px;
    box-sizing: border-box;
}

.Home > .Desserts span {
    font-size: larger;
}

.Home > .Products {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Home .Product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 10px; */
}

.Home .Product img {
    height: 200px;
    width: 300px;
    border: 1px solid;
    margin: 20px;
}

